.model {
    display: flex;
}

.itembox {
    height: 240px;
    width: 180px;
    padding: 15px;

}

.itembox img {
    width: 100px;
    height: 128px;
    margin-left: 15%;
}

.itembox p {
    margin: 10px;
    font-size: 12px;
}

.itembox div {
    margin: 10px;
}

@media only screen and (max-width: 451px) {
    #navbar2 {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .model {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}